.DS_Store
**/.DS_Store
*.pyc
*.html
**/*.pyc
.cache/
.ipynb_checkpoints/
.pytest_cache/
__pycache__/
.venv
.idea/
.vscode/

.eggs/
build/
dist/
junit/
htmlcov/

.coverage*
coverage.txt

docs/build/
docs/source/modules/generated
/.pypirc
/equalityml.egg-info/
