.DS_Store
**/.DS_Store
*.pyc
**/*.pyc
.cache/
.ipynb_checkpoints/
.pytest_cache/
__pycache__/
.venv
.idea/
.vscode/

.eggs/
src/FairPkg.egg-info
build/
dist/

.coverage*
coverage.txt

docs/build/
docs/source/modules/generated